# Compiled
target/
*.class

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Frontend (separate repo)
crewly-frontend/
crewly-frontend.html

# Junk
campus-connect/
node-v24.14.0-x64.msi
Microsoft.Services.Store.winmd
pomfile.txt
jjwt-0.9.1.jar
ngrok*
node-v*
*.exe

# Logs
*.log
application-local.properties